<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Game Room</title>
  <link rel="stylesheet" href="../static/css/game-room.css" data-minify="1" />
</head>

<body class="bp-legacy">

  <nav class="navbar-gameroom navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"> <img src="../static/images/logo.png" alt="" /> </a>
        <button class="btn btn-sm" id="logout-btn" onclick="location.href='/logout'">
          <b>Logout</b>
        </button>
      </div>

    </div>
  </nav>
  <section class="content-wrap">
    <div class="gameroom-banner-parallax gameroom-banner gameroom-banner-id-1 mid banner-top">
      <div class="image" data-speed="0.4">
        <img width="1400" height="100%" src="../static/images/background6.jpg" class="jarallax-img" />
      </div>
      <div class="info">
        <div id="main-question">
          <h1>Clue 1</h1>
          <h5 class="quiz">What goes up but never comes down?</h5>
          <br>

          <input type="text" id="answer-input" />
          <button class="btn btn-sm" id="submit-btn" value="Submit" onclick="checkAnswer()">Submit Answer</button>
          <button id="b" class="btn btn-sm" id="adv-btn" onclick="showHint()">Hint</button>
          <br />
          <br />
          <span>Time Remaining: <span id="timer">3:00</span></span>
          <br />
          <span>Current Points: <span id="points">100</span></span>

          <div id="congrats"></div>
        </div>
      </div>

    </div>

  </section>
  <div class="copyright">
    <div class="container">
      <div><strong>Fouziya</strong> © 2023. All rights reserved</div>
    </div>
  </div>


</body>

<!-- JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
<script>
  var timeLeft = 180;
  var timer = setInterval(function () {
    var minutes = Math.floor(timeLeft / 60);
    var seconds = timeLeft % 60;
    document.getElementById("timer").innerHTML =
      minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
    timeLeft -= 1;
    if (timeLeft < 0) {
      clearInterval(timer);
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "Time is up!",
      }).then(function () {
        window.location.href = "/clues/game.html";
      });
    }
  }, 1000);

  var points = 100;
  var totalPoints = parseInt(localStorage.getItem("totalPoints"));
  var pointTimer = setInterval(function () {
    points -= 1;
    document.getElementById("points").innerHTML = points;

    if (points <= 0) {
      clearInterval(pointTimer);
      Swal.fire({
        icon: "error",
        title: "Oops...",
        text: "You ran out of points!",
      }).then(function () {
        window.location.href = "/clues/game.html";
      });
    }
  }, 15000);


  function showHint() {
    // Open the hint page in a new tab
    var hintWindow = window.open("https://www.instagram.com/p/CreZWaTh7yT/", "_blank");

    // Wait for 10 seconds and then close the hint window and return to the original page
    setTimeout(function () {
      hintWindow.close();
      window.focus();
    }, 10000);
  }


  function checkAnswer() {
    var answer = document.getElementById("answer-input").value;
    if (answer.toLowerCase() === "age") {
      var totalPoints =
           points;
        localStorage.setItem("currentClue", 2);
        localStorage.setItem("totalPoints", totalPoints);
      clearInterval(timer);
      clearInterval(pointTimer);
      document.getElementById("congrats").style.visibility = "visible";
      Swal.fire({
        icon: "success",
        title: "Congratulations!",
        text: "You got it!",
      }).then(function () {
        document.getElementById("congrats").style.visibility = "hidden";
       
        window.location.href = "/clues/game.html";
      });
    } else {
      points -= 5;
      document.getElementById("points").innerHTML = points;
      Swal.fire({
        title: "Incorrect Answer!",
        text: "Please try again.",
        icon: "error",
        confirmButtonText: "OK",
      });
    }
  }
</script>




</html>
