<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <style>
      body {
        color: #fff;
        background-image: url('../static/images/background6.jpg');
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover;
      }
      .main-svg{
        background-color: transparent !important;
      }
    
      </style>
    <div id="chart"></div>
    <script>
      // Extract user data from Flask template variable
      var users = JSON.parse('{{ users|tojson|safe }}');

      // Extract points from user data and create trace for Plotly pie chart
      var trace = {
        values: users.map(user => user[4]),  // Points
        labels: users.map(user => user[1]),  // labels
        type: 'pie',
      };

      // Create Plotly layout and plot chart
      var layout = {
        xaxis: {title: 'Points'},
        yaxis: {title: 'Usernames'}
      };
      Plotly.newPlot('chart', [trace], layout);
    </script>
  </body>
</html>
