


.navbar-gameroom .navbar-nav.navbar-wpml>li>.dropdown-menu>ul,
.navbar-wpml .dropdown-menu {
    min-width: 0
}

.navbar-wpml img {
    max-width: none
}
.bg-default {
    background-color: #d92b4c !important;
}

html,
body {
    height: 100%
}

body {
    font: 14px/1.42857143 "Lato", sans-serif;
    color: #fff;
    letter-spacing: .06em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    word-wrap: break-word;
    background: #080325;
    background: rgba(8, 3, 37, .9)
}




.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.active:hover,
.btn:active:hover,
.btn.active:focus,
.btn:active:focus,
.btn.active.focus,
.btn:active.focus {
    color: #fff;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    cursor: pointer;
}

.btn {
    position: relative;
    padding: 10px 30px;
    margin-right: 10px;
    margin-left: 10px;
    z-index: 1
}

.btn.btn-sm {
    padding: 15px 50px
}

.btn.btn-lg {
    font-size: 24px;
    padding: 30px 100px;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: none;
    border: 2px solid #fff;
    -webkit-transition: 0.3s background ease, 0.3s border ease;
    -o-transition: 0.3s background ease, 0.3s border ease;
    transition: 0.3s background ease, 0.3s border ease;
    -webkit-transform: skew(-7deg);
    -ms-transform: skew(-7deg);
    transform: skew(-7deg);
    z-index: -1
}

.btn:hover::before,
.btn:focus::before,
.btn.focus::before,
.btn:active::before,
.btn.active::before,
.open>.dropdown-toggle.btn::before {
    background: #d92b4c;
    border: 2px solid #d92b4c
}



.gameroom-features {
    margin-bottom: 4.5rem
}

.gameroom-features .feature {
    position: relative;
    padding: 3rem;
    margin-bottom: 3rem;
    text-align: center;
    text-decoration: none
}

.gameroom-features .feature:hover {
    color: inherit
}

.gameroom-features .feature i,
.gameroom-features .feature .svg-inline--fa {
    font-size: 4.5rem
}



.no-transition *,
.no-transition *::before,
.no-transition *::after {
    -webkit-transition: none !important;
    -o-transition: none !important;
    transition: none !important
}
.navbar-header{
    position: sticky
}
.navbar-gameroom {
    min-height: 50px;
    background: rgba(8, 3, 37, .4);
    border: none;
    -webkit-transition: 0.3s background ease;
    -o-transition: 0.3s background ease;
    transition: 0.3s background ease
}

.navbar-gameroom a {
    text-decoration: none
}

.navbar-gameroom .container .navbar-right {
    margin-right: 0
}

.navbar-gameroom .container .navbar-brand {
    margin-left: 0
}


.navbar-gameroom .navbar-brand {
    display: inline-block;
    width: 250px;
    height: 100px;
    padding: 0;
    line-height: 75px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    will-change: height, width, line-height
}


.navbar-gameroom .navbar-brand img {
    display: inline-block;
    max-width: 100%
}

.navbar-gameroom .navbar-nav>li>a {
    height: 80px;
    padding: 24.2424242424px 0;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    will-change: height, padding
}

.navbar-gameroom .navbar-nav>li>a>.label {
    display: block;
    padding: 0;
    color: rgba(255, 255, 255, .5);
    text-align: left;
    text-transform: none;
    opacity: 1;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease
}




.navbar-gameroom .dropdown-cart .dropdown-menu {
    width: 100%;
    min-width: 300px;
    max-width: 350px;
    padding-top: 1rem
}

.navbar-gameroom .dropdown-cart .gameroom-side-news {
    padding-right: 1rem;
    padding-left: 2rem
}

.navbar-gameroom .navbar-nav>li.dropdown-cart>.dropdown-menu {
    display: block
}

.navbar-gameroom .navbar-login-form {
    min-width: 300px;
    padding: 0 20px
}
#logout-btn{
    float: right;
    margin-top: 30px;
}

.no-banner {
    padding-top: 80px
}
.content-wrap{
    width: 80%;
    margin: 0 auto;
}

.gameroom-banner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 80vh;
    overflow: hidden;
    background: #160962
}


.gameroom-banner .info h1,
.gameroom-banner .info h2 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0px !important;
}
.info{
    z-index: 999;
    position: absolute;
    top: 0;
    transform: translate(10px, 40px);
    width: 100%;
}

.gameroom-banner .image,
footer .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    opacity: .5
}


.copyright {
    position: relative;
    padding: 30px 10px;
    text-align: center;
    background: #080325;
    background: rgba(8,3,37,.7);
}
.listitems{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.listitems li{
    float: left;
}
.listitems li button::before{
    border: none;
    border-bottom: 2px solid #fff !important;
}
.listitems li .btn-sm{
    padding: 15px 30px !important;
}
/* word game css */



.wrapper {
    position: absolute;
    width: 90%;
    max-width: 37em;
    background-color: #0f0a2c;
    padding: 7em 3em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    border-radius: 1em;
  }
  .controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    transform: translate(-50%, -53%);
  }
  #start {
    font-size: 1.2em;
    padding: 1em 3em;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2em;
    cursor: pointer;
  }
  #letter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em 0.4em;
    justify-content: center;
    margin-top: 2em;
  }
  #letter-container button {
    background-color: #ffffff;
    border: 2px solid #7786f5;
    color: #7786f5;
    outline: none;
    border-radius: 0.3em;
    cursor: pointer;
    height: 3em;
    width: 3em;
  }
  #letter-container .correct {
    background-color: #008000;
    color: #ffffff;
    border: 2px solid #008000;
  }
  #letter-container .incorrect {
    background-color: #8a8686;
    color: #ffffff;
    border: 2px solid #8a8686;
  }
  .hint-ref {
    margin-bottom: 1em;
  }
  .hint-ref span {
    font-weight: 600;
  }
  #chanceCount {
    margin: 1em 0;
    position: absolute;
    top: 0.62em;
    right: 2em;
  }
  #word {
    font-weight: 600;
    margin: 1em 0 2em 0;
  }
  #word span {
    text-transform: uppercase;
    font-weight: 400;
  }
  .hide {
    display: none;
  }
  .question{
    width: 20%;
    max-width: 37em;
    background-color: transparent;
    position: absolute;
    transform: translate(-49%);
    top: 5%;
    text-align: center;
    border-radius: 1em;
    z-index: 99;
  }
  #answer-input{
    height: 25px;
    width: 45%;
    padding: 10px;
    border-radius: 10px;
  }
  #main-question{
    padding: 10px;
  }
 .quiz{
     font-size: 24px;
 }
 #instructions-box{
    display: inline-block;
    position: absolute;
    bottom: 0;
    color: #ffe3ff;
 }
 ul.a :first-child{
    list-style-type: none;
  }
 ul.a {
    list-style-type: circle;
  }
  .instruction{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
      margin-top: 10px;
      margin: 0 auto;
      text-align: center;
  }
  #instructions-box{
    z-index: 999;
    position: absolute;
    transform: translate(10px, 40px);
    bottom: 10px;
  }
#statement-box{
    font-size: 18px;
    text-align: center;
}
#hintToShow{
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;
}